 body {
      background-color: #1e1e1e;
      color: #ffffff;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .login-box {
      background-color: #2c2c2c;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      width: 300px;
    }
    .login-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .login-box label {
      display: block;
      margin-top: 10px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"],
    .login-box input[type="email"] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      background-color: #444;
      border: none;
      border-radius: 4px;
      color: #fff;
    }
    .login-box button {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }
    .login-box button:hover {
      background-color: #0056b3;
    }

    .pindah{
      background-color: #44444400;
      border: 1px solid white;
    }